body {
  font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1em;
  padding: 0;
  margin: 0;
}
body a {
  text-decoration: none;
  color: #4183c4;
}
body a:hover {
  text-decoration: underline;
}
body a[title="站长统计"] {
  display: none;
}
img {
  max-width: 100%;
}
.shine-text {
  font-family: Helvetica, Arial, sans-serif;
/*color #c87f7f*/
  margin: auto;
  margin-top: 10%;
  text-align: center;
  left: 0;
  right: 0;
  width: 100%;
  display: table;
  color: #fcfcfc;
  font-size: 5em;
  font-weight: 800;
  letter-spacing: -0.02em;
}
.posts-wrapper {
  width: 100%;
}
.posts-wrapper .posts {
  display: block;
  margin: auto;
  text-align: left;
  width: 375px;
  list-style: none;
  line-height: 1.7em;
  margin-bottom: 70px;
  margin-top: 20px;
}
.posts-wrapper .posts .date {
  margin-left: 7px;
  margin-right: 14px;
  color: #888;
  width: 60px;
  display: inline-block;
  font-family: Consolas, "Courier New", Courier, Monaco, Menlo, monospace;
}
.year-split {
  width: 110%;
  position: relative;
  left: -5%;
  margin: 20px 0;
  font-family: Consolas, "Courier New", Courier, Monaco, Menlo, monospace;
  color: #888;
  text-align: center;
}
.year-split .line {
  margin-top: -3px;
  height: 1px;
  background: linear-gradient(to right, transparent, #888 30%, #888 70%, transparent);
}
